---
layout: default
---

{% for post in paginator.posts %}
<article class="post">
  <header class="index">
    <h1 class="post-title index">
        <a href="{{ post.url }}">{{ post.title }}</a>
    </h1>
  </header>
  <div class="post-meta">
      <time class="post-time">{{ post.date | date_to_string }}</time>
      <span class="sep">&nbsp;—&nbsp;</span>
      {% assign words = post.content | number_of_words %}
      <span>{% include read_time.html %}</span>
  </div>
  <div class="post-content">
      {{ post.excerpt | smartify | markdownify | strip_html | truncatewords: 50 }}

      {% unless post.excerpt == post.content %}
      <a class="post-read-more" title="Read more..." href="{{ post.url }}"><i>[...]</i></a>
      {% endunless %}
  </div>
</article>
{% endfor %}

<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-item older" href="/page{{ paginator.next_page }}">Older</a>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
    <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
    <a class="pagination-item newer" href="/page{{ paginator.previous_page }}">Newer</a>
    {% endif %}
  {% endif %}
</div>