<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2013-12-31-whats-jekyll.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>525728123.168387</real>
				<key>lastModification</key>
				<real>525728123.168387</real>
				<key>version</key>
				<dict>
					<key>5a7e03effc9c54491b95e7e00c29c0f421ece83e8e1e81b78785a1564ea102f0</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>2014-01-01-example-content.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>525728125.121584</real>
				<key>lastModification</key>
				<real>525728125.121584</real>
				<key>version</key>
				<dict>
					<key>5a7e03effc9c54491b95e7e00c29c0f421ece83e8e1e81b78785a1564ea102f0</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>2017-08-29-whois-10c8.md</key>
			<dict>
				<key>lastModification</key>
				<real>525726451.57758898</real>
				<key>version</key>
				<dict>
					<key>5a7e03effc9c54491b95e7e00c29c0f421ece83e8e1e81b78785a1564ea102f0</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>2017-08-30-natus-imperare.md</key>
			<dict>
				<key>lastModification</key>
				<real>525824047.78946799</real>
				<key>version</key>
				<dict>
					<key>5a7e03effc9c54491b95e7e00c29c0f421ece83e8e1e81b78785a1564ea102f0</key>
					<integer>21</integer>
				</dict>
			</dict>
		</dict>
		<key>userIconName</key>
		<real>525724918.09964001</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2013-12-31-whats-jekyll.md</string>
		</array>
		<array>
			<string>2017-08-29-whois-10c8.md</string>
		</array>
		<array>
			<string>2014-01-01-example-content.md</string>
		</array>
		<array>
			<string>2017-08-30-natus-imperare.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Computer</string>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>5a7e03effc9c54491b95e7e00c29c0f421ece83e8e1e81b78785a1564ea102f0</key>
			<integer>22</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>5a7e03effc9c54491b95e7e00c29c0f421ece83e8e1e81b78785a1564ea102f0</key>
			<integer>8</integer>
		</dict>
	</dict>
</dict>
</plist>
