<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>
    <header class="main-header">
      <img src="/public/logo_small.png" alt="" class="main-logo">
      <nav class="main-nav">
        <ul>
          <li class="nav-item menu-nav-item">
            <a href="/">All Articles</a>
          </li>
          <li class="nav-item menu-nav-item">
            <a href="/feed.xml">Feed</a>
          </li>
          <li class="nav-item menu-nav-item">
            <a href="/2017/08/29/whois-10c8/">About</a>
          </li>
          <li class="nav-item divider-nav-item">Links:</li>
          <li class="nav-item menu-nav-item menu-nav-link">
            <a href="https://github.com/10c8/">Github</a>
          </li>
          <li class="nav-item menu-nav-item menu-nav-link">
            <a href="https://twitter.com/10c8_">Twitter</a>
          </li>
          <li class="nav-item divider-nav-item">Categories:</li>

          {% include fetch_tags.html %}
          {% for tag in tags %}
            {% unless tag == "uncategorized" %}
            <li class="nav-item menu-nav-item menu-nav-link">
              <a href="/tag/#{{ tag | slugify }}">{{ tag }}</a>
            </li>
            {% endunless %}
          {% endfor %}

        </ul>
      </nav>
  </header>

  <section>
  {{ content }}
  </section>

  <div class="pattern"></div>

  {% include ga.html %}

  </body>
</html>
