---
layout: default
---

<article class="post">
  <header>
      <div class="post-meta">
          <time class="post-time">{{ page.date | date_to_string }}</time>
          <span class="sep">&nbsp;—&nbsp;</span>
          {% assign words = page.content | number_of_words %}
          <span>{% include read_time.html %}</span>
      </div>
  </header>
  <h1 class="post-title">
      <a href="#">{{ page.title }}</a>
  </h1>
  <div class="post-content">
      {{ content | smartify }}
  </div>
  <div class="page-tags">
      <span>Tags: </span>
      {% for tag in page.tags %}
      <small>
        <a href="/tag/#{{ tag | slugify }}">{{ tag }}</a>
      </small>
      {% endfor %}
    </div>
</article>

{% include comments.html %}