---
layout: default
---

<article class="post">
  <header>
      <div class="post-meta">
          <time class="post-time">{{ page.date | date_to_string }}</time>
          <span class="sep">&nbsp;—&nbsp;</span>
          {% assign words = page.content | number_of_words %}
          <span>{% include read_time.html %}</span>
      </div>
  </header>
  <h1 class="post-title">
      <a href="#">{{ page.title }}</a>
  </h1>
  <div class="post-content">
      {{ content | smartify }}
  </div>
  <div class="page-tags">
      <span>Tags: </span>
      {% for tag in page.tags %}
      <small>
        <a href="/tag/#{{ tag | slugify }}">{{ tag }}</a>
      </small>
      {% endfor %}
    </div>
</article>

{% if page.comments %}
<div id="disqus_thread" style="margin-bottom: 20px;"></div>
<script>
var disqus_config = function () {
  this.page.url = 'http://10c8.github.io{{ page.url }}';
  this.page.identifier = '{{ page.id }}';
};
(function() {
  var d = document, s = d.createElement('script');
  s.src = 'https://10c8-blog.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% else %}
<h4 class="comments-disabled">Comments are disabled for this post.</h4>
{% endif %}